.best-sellers {
    margin-top: 140px;

    @include tablet {
        margin-top: 70px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-content {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-text {
            font-family: var(--Monopolix-Medium);
            font-weight: 500;
            font-size: 14px;
            line-height: 200%;
            letter-spacing: 0.14em;
            text-transform: uppercase;
            color: var(--black-70);
        }

        &-controls {
            position: relative;
            width: 132px;

            @include mobile {
                display: none;
            }
        }

        &-title {
            font-family: var(--Monopolix-light);
            font-weight: 400;
            font-size: 64px;
            line-height: 113%;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--black-90);
            margin-bottom: 52px;

            @include mobile {
                font-size: 60px;
            }
        }
    }

    &__button-prev,
    &__button-next {
        width: 54px !important;
        height: 23px !important;
    }

    &__button-prev {
        left: -5% !important;
    }

    &__slide {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    &__slide-wrapper {
        position: relative;
        width: 413px;

        @include laptop {
            width: 350px;
        }

        @include tablet {
            width: 300px;
        }

        @include mobile {
            width: 250px;
        }
    }

    &__icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        cursor: pointer;
        background-color: #fff;
        width: 44px;
        height: 44px;

        @include tablet {
            top: 10px;
            right: 10px;
        }
    }

    &__slide-fav-icon {
        stroke: #000;
        fill: #fff;
        &.active {
            stroke: red;
            fill: red;
        }
    }

    &__slide-content {
        margin-top: 16px;
        font-family: var(--Monopolix-Bold);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__slide-name {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.05em;
        color: var(--black-90);
    }

    &__slide-prices {
        display: flex;
        gap: 10px;
    }

    &__slide-colors {
        margin-top: 20px;
    }

    &__slide-colors-list {
        display: flex;
        gap: 6px;
    }
}