.catalog {
    padding-top: 190px;

    &__wrapper {
        display: flex;
        gap: 32px;

        @include tablet {
            flex-direction: column;
        }
    }

    &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px 27px;
    }
}