@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Lato-bold";
    src: url("../fonts/Lato-Bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Lato-semibold";
    src: url("../fonts/Lato-SemiBold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Lato-light";
    src: url("../fonts/Lato-Light.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Monopolix-light";
    src: url("../fonts/Monopolix-Light.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Monopolix-Bold";
    src: url("../fonts/Monopolix-Bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Monopolix-Medium";
    src: url("../fonts/Monopolix-Medium.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Monopolix-Rounded-Medium";
    src: url("../fonts/Monopolix-Rounded-Medium.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-display: swap;
}