:root {
    --container-width: 1295px;
    --container-padding-x: 30px;

    --black-90: #2d2d2d;
	--black-70: #666562;
	--black-50: #a3a3a0;
	--black-30: #cccbc8;
	--black-10: #f9f5e8;
	--black-05: #f7f7f5;
	--white: #f7f7f5;


    --Lato: "Lato";
    --Lato-Light: "Lato-light";
    --Lato-Bold: "Lato-bold";
    --Lato-Semibold: "Lato-semibold";

    --Monopolix-light: "Monopolix-light";
    --Monopolix-Bold: "Monopolix-Bold";
    --Monopolix-Medium: "Monopolix-Medium";
    --Monopolix-Rounded-Medium: "Monopolix-Rounded-Medium";

    --Poppins: "Poppins";

    --transition: 0.2s;
}